.header{
    background-color: rgb(3, 53, 54);
    color:white;
    text-align: center;
    padding: 10px;
}
.menu{
    background-color: rgb(30, 151, 155);
    padding: 10px;
    text-align: center;
}

.menu a{
    background-color: darkcyan;
    padding: 10px 20px;
    color: white;
    margin: 10px;
    text-decoration: 5px;
    border-radius: 5px;
    display: inline-block; 
}
.internal-links a{
    background-color: rgb(165, 238, 238);
    padding: 8px 16px;
    color: black;
    margin: 5px;
    text-decoration: none;
    border: 1px solid #08284b;    
    display: inline-block; 
}
.container{
    background-color: gainsboro;
    padding: auto;
    max-width: 900px;
    margin: 10px auto;    
}
hr{
    border: 1px solid gray;    
    margin: 20px;
}
.section{
   background-color: white;
   padding: 20px;
   border-radius: 8px;
   margin-bottom: 10px;
}
.container{
    background-color: gainsboro;
}
.footer{
    background-color: cadetblue;
    color:white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}
